@charset "UTF-8";
/*! lixinjie 20180123 https://github.com/xinjie-just/txhy-wx.git */
@import "variables";
@import "reboot";

.mui-content {
    min-height: 100%;
}






/*===投诉建议===*/
.advise-form {
    margin-top: 3rem;
    padding: 0 .5em;
    color: $text-color;
    font-size: $font-size;
    .advise {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-align-items: center;
                align-items: center;
        label {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            padding-right: 1em;
            padding-left: 1em;
            &.required {
                position: relative;
                &::before {
                    position: absolute;
                    left: 0.4em;
                    content: "*";
                    color: #f00;
                    font-size: 1em;
                }
            }
        }
        textarea {
            -webkit-flex: 1;
                    flex: 1;
            min-height: 120px;
            max-height: 150px;
            line-height: 1.6em;
            overflow-y: auto;
            padding: .25em .5em;
            font-size: $font-size;
            color: #ccc;
            border: 1px solid;
            &:focus {                
                color: $text-color;
                border-color: $text-color;
            } 
                   
        }
    }
    .advise-handle {
        margin-top: 1.5rem;
        text-align: center;
        .advise-submit {
            padding: 10px 28px;
        }
    }
}

/*===家乡信息===*/
.hometown-heading {
    font-size: 24px;
    line-height: 1.2;
    color: #333;
    margin-top: 2rem;
    font-weight: 500;
    text-align: center;
}
.hometown-form {
    margin-top: 2rem;
    > div {
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        display: -webkit-flex;
        display: flex;
        height: 40px;
        line-height: 39px;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-align-items: center;
                align-items: center;
        label {
            height: 39px;
            line-height: 39px;
            font-size: 14px;
            padding-right: 1em;
            padding-left: 1em;
            &.required {
                position: relative;
                &::before {
                    position: absolute;
                    left: 0.4em;
                    content: "*";
                    color: #f00;
                    font-size: 1em;
                }
            }
        }
        input {
            border: none;
            height: 39px;
            line-height: 39px;
            -webkit-flex: 1;
            flex: 1;
            font-size: $font-size;
            color: #ccc;
            background-color: transparent;
            padding: 0 1em;
            margin-bottom: 0;
            border-radius: 0;
            &:focus {
                color: $text-color;
            }
        }
        &.hometown-handle {
            margin-top: 1.5rem;
            border-bottom: none;
            .hometown-submit {
                padding: 10px 28px;
            }
        }
        &.protocol {
            border-bottom: none;
        }
    }
}
