@charset "UTF-8";
/*! lixinjie 20180123 https://github.com/xinjie-just/txhy-wx.git */
@import "variables";
@import "reboot";

.mui-content {
    min-height: 100%;
}






/*===投诉建议===*/
.advise-form {
    margin-top: 3rem;
    padding: 0 .5em;
    color: $text-color;
    font-size: $font-size;
    .advise {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-align-items: center;
                align-items: center;
        label {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            padding-right: 1em;
            padding-left: 1em;
            &.required {
                position: relative;
                &::before {
                    position: absolute;
                    left: 0.4em;
                    content: "*";
                    color: #f00;
                    font-size: 1em;
                }
            }
        }
        textarea {
            -webkit-flex: 1;
                    flex: 1;
            min-height: 120px;
            max-height: 150px;
            line-height: 1.6em;
            overflow-y: auto;
            padding: .25em .5em;
            font-size: $font-size;
            color: #ccc;
            border: 1px solid;
            &:focus {                
                color: $text-color;
                border-color: $text-color;
            } 
                   
        }
    }
    .advise-handle {
        margin-top: 1.5rem;
        text-align: center;
        .advise-submit {
            padding: 10px 28px;
        }
    }
}

/*===家乡信息===*/
.hometown-heading {
    font-size: 22px;
    line-height: 1.2;
    color: #333;
    margin-top: 2rem;
    font-weight: 500;
    text-align: center;
}
.hometown-form {
    $height: 40px;
    margin-top: 2rem;
    > div {
        margin-bottom: 15px;
        @extend .clearfix;
        &.input-div {            
            border-bottom: 1px solid #ccc;
            height: $height;
            line-height: $height - 1;
            label {
                display: block;
                float: left;
                width: 6.2em;
                height: $height - 1;
                line-height: $height - 1;
                font-size: 14px;
                padding-right: 1em;
                padding-left: 1em;
                &.required {
                    position: relative;
                    &::before {
                        position: absolute;
                        left: 0.4em;
                        content: "*";
                        color: #f00;
                        font-size: 1em;
                    }
                }
            }
            input {
                display: block;
                float: left;
                width: calc(100% - 10.2em);
                border: none;
                height: $height - 1;
                line-height: $height - 1;
                font-size: $font-size;
                background-color: transparent;
                margin-bottom: 0;
                border-radius: 0;
                &:focus {
                    color: $text-color;
                }
            }
            .mui-icon {
                display: block;
                float: right;
                width: 2em;
                height: $height - 1;
                line-height: $height - 1;
                text-align: center;
                font-size: $font-size + 8;
            }
        }
    }
    .hometown-handle {
        margin-top: 1.5rem;
        .hometown-submit {
            padding: 10px 28px;
        }
    }
    .protocol {
        @extend .clearfix;
        height: $height;
        line-height: $height;
        padding-right: 1em;
        padding-left: 1em;
        font-size: 14px;
        input[type='checkbox'] {
            top: 2px;
            left: 1em;
        }
        span {
            display: block;
            float: left;
            margin-left: 2.6em;
        }
    }
}

/*===个人资料===*/
.personal-info-form {
    $height: 40px;
    margin-top: 1rem;
    padding-right: 1em;
    > div {
        margin-bottom: 15px;
        font-size: 0;
        label {
            display: inline-block;
            vertical-align: middle;
            width: 6em;
            height: $height;
            line-height: $height;
            font-size: $font-size;
            color: $text-color;
            padding-right: 1em;
            padding-left: 1em;
            &.required {
                position: relative;
                &::before {
                    position: absolute;
                    left: 0.4em;
                    content: "*";
                    color: #f00;
                    font-size: 1em;
                }
            }
        }
        &.intro {
            label {
                line-height: 1.5;
            }
        }
        input {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 6em);
            height: $height;
            line-height: $height - 2;
            font-size: $font-size;
            color: #ccc;
            border: 1px solid;
            background-color: transparent;
            padding: 0 1em;
            margin-bottom: 0;
            &:focus {
                color: $text-color;
                border-color: $text-color;
            }
        }
        &.phone {
            input {
                width: calc(100% - 14em);
                margin-right: .5em;
            }
            .phone-switch {
                display: inline-block;
                vertical-align: middle;
                width: 40px;
                height: 24px;
                .phone-switch-handle {
                    width: 22px;
                    height: 22px;
                }
            }
            span {
                display: inline-block;
                vertical-align: middle;
                height: $height;
                line-height: $height;
                font-size: $font-size - 2;
                margin-left: .5em;
            }
        }
        textarea {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 6em);
            min-height: $height * 3;
            max-height: $height * 3;
            overflow-y: auto;
            line-height: 1.5;
            padding: 0.25em 1em;
            font-size: $font-size;
            color: #ccc;
            border: 1px solid;
            background-color: transparent;
            &:focus {
                color: $text-color;
                border-color: $text-color;
            }
        }
        select {
            display: inline-block;
            vertical-align: middle;
            width: calc(100% - 6em);
            height: $height;
            line-height: $height - 2;
            padding: 0 1em;
            font-size: $font-size;
            color: #ccc;
            border: 1px solid !important;
            background-color: transparent;
            cursor: pointer;
            -webkit-appearance: menulist;
            &:focus {
                color: $text-color;
                border-color: $text-color;
            }
            option {
                font-size: $font-size - 2;
                line-height: 1.5;
                color: $text-color;
                @extend %ellipsis;
            }
        }
    }
    .personal-info-handle {
        margin-top: 1rem;
        .personal-info-submit {
            padding: 10px 28px;
        }
    }
}

/*===发布动态===*/
.message-form {
    $height: 40px;
    margin-top: 2rem;
    padding: 0 .5em;
    color: $text-color;
    font-size: $font-size;
    > div {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        margin-bottom: 15px;
        label {
            width: 6em;
            height: $height;
            line-height: $height;
            font-size: 14px;
            padding-right: 1em;
            padding-left: 1em;
            &.required {
                position: relative;
                &::before {
                    position: absolute;
                    left: 0.4em;
                    content: "*";
                    color: #f00;
                    font-size: 1em;
                }
            }
        }
        input {
            -webkit-flex: 1;
            flex: 1;
            height: $height;
            line-height: $height - 2;
            overflow-y: auto;
            padding: .25em .5em;
            font-size: $font-size;
            color: #ccc;
            border: 1px solid;
            margin-bottom: 0;
            &:focus {
                color: $text-color;
                border-color: $text-color;
            }
        }
        textarea {
            -webkit-flex: 1;
            flex: 1;
            min-height: 120px;
            max-height: 150px;
            line-height: 1.6em;
            overflow-y: auto;
            padding: .25em .5em;
            font-size: $font-size;
            color: #ccc;
            border: 1px solid;
            &:focus {
                color: $text-color;
                border-color: $text-color;
            }
        }
    }
    .message-handle {
        display: block;
        margin-top: 1.5rem;
        text-align: center;
        .message-submit {
            padding: 10px 28px;
        }
    }
}

/*===个人动态管理===*/
.personal-message-table {
    $height: 38px;
    width: 100%;
    table-layout: fixed;
    tr {
        box-sizing: content-box;
        th,
        td {
            color: $text-color;
            padding-right: .5rem;
            padding-left: .5rem;
            @extend %ellipsis;
            &:nth-of-type(2) {
                width: 90px;
            }
            &:nth-of-type(3) {
                width: 126px;
            }
        }
    }
    thead {
        tr {
            background-color: #ccc;
            height: $height + 6;
            line-height: $height + 6;
            th {
                font-size: $font-size;
            }
        }
    }
    tbody {
        tr {
            height: $height;
            line-height: $height;
            border-bottom: 1px solid #dfdfdf;
            td {
                font-size: $font-size - 2;
                @extend .clearfix;
                span {
                    display: block;
                    float: left;
                    font-size: $font-size - 2;
                    border-radius: 2px;
                    text-align: center;
                    width: 52px;
                    height: 26px;
                    line-height: 24px;
                    border: 1px solid #ccc;
                    &:not(:last-of-type) {
                        margin-right: 4px;
                    }
                    i {
                        font-size: $font-size + 2;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}

/*===动态列表===*/
.address-form {
    $height: 40px;
    margin-top: 1rem;
    .area {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
                 flex-direction: row;
        -webkit-align-items: center;
                 align-items: center;
        background-color: #fff;
        height: $height;
        line-height: $height - 1;
        font-size: $font-size;
        @extend .clearfix;
        label {
            padding-right: 1em;
            padding-left: 1em;
        }
        input {
            display: block;
            border: none;
            background-color: transparent;
            margin-bottom: 0;
            border-radius: 0;
            -webkit-flex: 1;
                     flex: 1;
            &:focus {
                color: $text-color;
            }
        }
        .mui-icon {
            padding-right: .5em;
            padding-left: .5em;
            font-size: $font-size + 8;
        }
    }
}
.msg-list {
    margin-top: 1rem;
    li {
        a {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;
            padding: 8px;
            border-bottom: 1px solid #ccc;
        }
        &:first-of-type {
            a {
                border-top: 1px solid #ccc;
            }
        }
    }
    img {
        display: block;
        font-size: 12px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-right: 10px;
        box-sizing: content-box;
        @extend %ellipsis;
    }
    .name {
        display: block;
        font-size: 12px;
        width: 60px;
        padding-right: 5px;
        padding-left: 5px;
        @extend %ellipsis;
    }
    .msg-heading {
        display: block;
        font-size: 12px;
        -webkit-flex: 1;
                 flex: 1;
        padding-right: 5px;
        padding-left: 5px;
        @extend %ellipsis;
    }
    time {
        display: block;
        font-size: 12px;
        width: 80px;
        padding-right: 5px;
        padding-left: 5px;
    }
}