@charset "UTF-8";
/*! lixinjie 20180123 https://github.com/xinjie-just/txhy-wx.git */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
pre,
textarea,
fieldset,
figure,
ul,
ol,
dl,
dd,
menu {
  margin: 0;
}

input,
textarea,
button,
select,
option,
fieldset,
legend,
ul,
ol,
menu,
th,
td {
  padding: 0;
}

hr,
progress,
input,
textarea,
button,
select,
fieldset {
  border: 0;
}

html {
  height: 100%;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: #333;
  background-color: #ebeff9;
  font-family: "Microsoft Yahei", Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
  /* ios5+ */
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

/* ===链接=== */
a {
  color: #333;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:focus, a:active {
  outline-width: 0;
  text-decoration: none;
}

/*a[href]:empty:::after{
  content: attr(href);
}*/
/* ===文本=== */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

article h1,
section h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* ===嵌入式内容=== */
img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

/* ===分组内容=== */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 14px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/* ===表单=== */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  background-color: transparent;
}
button:focus,
html [type="button"]:focus,
[type="reset"]:focus,
[type="submit"]:focus {
  outline: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* ===表格=== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

/* ===列表=== */
ol,
ul {
  list-style-type: none;
}

/* ===关于浮动=== */
.clearfix::after, .hometown-form > div::after, .hometown-form .protocol::after, .personal-message-table tbody tr td::after, .address-form .area::after {
  content: "";
  display: table;
}
.clearfix:after, .hometown-form > div:after, .hometown-form .protocol:after, .personal-message-table tbody tr td:after, .address-form .area:after {
  content: "";
  display: table;
  clear: both;
}

/*快捷样式*/
figure {
  overflow: hidden;
}
figure a {
  display: block;
}
figure img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

label {
  margin-bottom: 0;
  cursor: pointer;
}

.personal-info-form > div select option, .personal-message-table tr th,
.personal-message-table tr td, .msg-list img, .msg-list .name, .msg-list .msg-heading, .local-form > div select option, .local-list img, .local-list .name, .local-list .local-heading {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mui-content {
  min-height: 100%;
}

/*===投诉建议===*/
.advise-form {
  margin-top: 3rem;
  padding: 0 .5em;
  color: #333;
  font-size: 14px;
}
.advise-form .advise {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
}
.advise-form .advise label {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding-right: 1em;
  padding-left: 1em;
}
.advise-form .advise label.required {
  position: relative;
}
.advise-form .advise label.required::before {
  position: absolute;
  left: 0.4em;
  content: "*";
  color: #f00;
  font-size: 1em;
}
.advise-form .advise textarea {
  -webkit-flex: 1;
  flex: 1;
  min-height: 120px;
  max-height: 150px;
  line-height: 1.6em;
  overflow-y: auto;
  padding: .25em .5em;
  font-size: 14px;
  color: #ccc;
  border: 1px solid;
}
.advise-form .advise textarea:focus {
  color: #333;
  border-color: #333;
}
.advise-form .advise-handle {
  margin-top: 1.5rem;
  text-align: center;
}
.advise-form .advise-handle .advise-submit {
  padding: 10px 28px;
}

/*===家乡信息===*/
.hometown-heading {
  font-size: 22px;
  line-height: 1.2;
  color: #333;
  margin-top: 2rem;
  font-weight: 500;
  text-align: center;
}

.hometown-form {
  margin-top: 2rem;
}
.hometown-form > div {
  margin-bottom: 15px;
}
.hometown-form > div.input-div {
  border-bottom: 1px solid #ccc;
  height: 40px;
  line-height: 39px;
}
.hometown-form > div.input-div label {
  display: block;
  float: left;
  width: 6.2em;
  height: 39px;
  line-height: 39px;
  font-size: 14px;
  padding-right: 1em;
  padding-left: 1em;
}
.hometown-form > div.input-div label.required {
  position: relative;
}
.hometown-form > div.input-div label.required::before {
  position: absolute;
  left: 0.4em;
  content: "*";
  color: #f00;
  font-size: 1em;
}
.hometown-form > div.input-div input {
  display: block;
  float: left;
  width: calc(100% - 10.2em);
  border: none;
  height: 39px;
  line-height: 39px;
  font-size: 14px;
  background-color: transparent;
  margin-bottom: 0;
  border-radius: 0;
}
.hometown-form > div.input-div input:focus {
  color: #333;
}
.hometown-form > div.input-div .mui-icon {
  display: block;
  float: right;
  width: 2em;
  height: 39px;
  line-height: 39px;
  text-align: center;
  font-size: 22px;
}
.hometown-form .hometown-handle {
  margin-top: 1.5rem;
}
.hometown-form .hometown-handle .hometown-submit {
  padding: 10px 28px;
}
.hometown-form .protocol {
  height: 40px;
  line-height: 40px;
  padding-right: 1em;
  padding-left: 1em;
  font-size: 14px;
}
.hometown-form .protocol input[type='checkbox'] {
  top: 2px;
  left: 1em;
}
.hometown-form .protocol span {
  display: block;
  float: left;
  margin-left: 2.6em;
}

/*===个人资料===*/
.personal-info-form {
  margin-top: 1rem;
  padding-right: 1em;
  padding-left: .5em;
}
.personal-info-form > div {
  margin-bottom: 15px;
  font-size: 0;
}
.personal-info-form > div label {
  display: inline-block;
  vertical-align: middle;
  width: 6em;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  padding-right: 1em;
  padding-left: 1em;
}
.personal-info-form > div label.required {
  position: relative;
}
.personal-info-form > div label.required::before {
  position: absolute;
  left: 0.4em;
  content: "*";
  color: #f00;
  font-size: 1em;
}
.personal-info-form > div.intro label {
  line-height: 1.5;
}
.personal-info-form > div input {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 6em);
  height: 40px;
  line-height: 38px;
  font-size: 14px;
  color: #ccc;
  border: 1px solid;
  background-color: transparent;
  padding: 0 1em;
  margin-bottom: 0;
}
.personal-info-form > div input:focus {
  color: #333;
  border-color: #333;
}
.personal-info-form > div.phone input {
  width: calc(100% - 14em);
  margin-right: .5em;
}
.personal-info-form > div.phone .phone-switch {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 24px;
}
.personal-info-form > div.phone .phone-switch .phone-switch-handle {
  width: 22px;
  height: 22px;
}
.personal-info-form > div.phone span {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  margin-left: .5em;
}
.personal-info-form > div textarea {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 6em);
  min-height: 120px;
  max-height: 120px;
  overflow-y: auto;
  line-height: 1.5;
  padding: 0.25em 1em;
  font-size: 14px;
  color: #ccc;
  border: 1px solid;
  background-color: transparent;
}
.personal-info-form > div textarea:focus {
  color: #333;
  border-color: #333;
}
.personal-info-form > div select {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 6em);
  height: 40px;
  line-height: 38px;
  padding: 0 1em;
  font-size: 14px;
  color: #ccc;
  border: 1px solid !important;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: menulist;
}
.personal-info-form > div select:focus {
  color: #333;
  border-color: #333;
}
.personal-info-form > div select option {
  font-size: 12px;
  line-height: 1.5;
  color: #333;
}
.personal-info-form .personal-info-handle {
  margin-top: 1rem;
}
.personal-info-form .personal-info-handle .personal-info-submit {
  padding: 10px 28px;
}

/*===发布动态===*/
.message-form {
  margin-top: 2rem;
  padding: 0 .5em;
  color: #333;
  font-size: 14px;
}
.message-form > div {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 15px;
}
.message-form > div label {
  width: 6em;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding-right: 1em;
  padding-left: 1em;
}
.message-form > div label.required {
  position: relative;
}
.message-form > div label.required::before {
  position: absolute;
  left: 0.4em;
  content: "*";
  color: #f00;
  font-size: 1em;
}
.message-form > div input {
  -webkit-flex: 1;
  flex: 1;
  height: 40px;
  line-height: 38px;
  overflow-y: auto;
  padding: .25em .5em;
  font-size: 14px;
  color: #ccc;
  border: 1px solid;
  margin-bottom: 0;
}
.message-form > div input:focus {
  color: #333;
  border-color: #333;
}
.message-form > div textarea {
  -webkit-flex: 1;
  flex: 1;
  min-height: 120px;
  max-height: 150px;
  line-height: 1.6em;
  overflow-y: auto;
  padding: .25em .5em;
  font-size: 14px;
  color: #ccc;
  border: 1px solid;
}
.message-form > div textarea:focus {
  color: #333;
  border-color: #333;
}
.message-form .message-handle {
  display: block;
  margin-top: 1.5rem;
  text-align: center;
}
.message-form .message-handle .message-submit {
  padding: 10px 28px;
}

/*===个人动态管理===*/
.personal-message-table {
  width: 100%;
  table-layout: fixed;
}
.personal-message-table tr {
  box-sizing: content-box;
}
.personal-message-table tr th,
.personal-message-table tr td {
  color: #333;
  padding-right: .5rem;
  padding-left: .5rem;
}
.personal-message-table tr th:nth-of-type(2),
.personal-message-table tr td:nth-of-type(2) {
  width: 90px;
}
.personal-message-table tr th:nth-of-type(3),
.personal-message-table tr td:nth-of-type(3) {
  width: 126px;
}
.personal-message-table thead tr {
  background-color: #ccc;
  height: 44px;
  line-height: 44px;
}
.personal-message-table thead tr th {
  font-size: 14px;
}
.personal-message-table tbody tr {
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #dfdfdf;
}
.personal-message-table tbody tr td {
  font-size: 12px;
}
.personal-message-table tbody tr td span {
  display: block;
  float: left;
  font-size: 12px;
  border-radius: 2px;
  text-align: center;
  width: 52px;
  height: 26px;
  line-height: 24px;
  border: 1px solid #ccc;
}
.personal-message-table tbody tr td span:not(:last-of-type) {
  margin-right: 4px;
}
.personal-message-table tbody tr td span i {
  font-size: 16px;
  margin-right: 2px;
}

/*===动态列表===*/
.address-form {
  margin-top: 1rem;
}
.address-form .area {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff;
  height: 40px;
  line-height: 39px;
  font-size: 14px;
}
.address-form .area label {
  padding-right: 1em;
  padding-left: 1em;
}
.address-form .area input {
  display: block;
  border: none;
  background-color: transparent;
  margin-bottom: 0;
  border-radius: 0;
  -webkit-flex: 1;
  flex: 1;
}
.address-form .area input:focus {
  color: #333;
}
.address-form .area .mui-icon {
  padding-right: .5em;
  padding-left: .5em;
  font-size: 22px;
}

.msg-list {
  margin-top: 1rem;
}
.msg-list li a {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #dedede;
}
.msg-list li:first-of-type a {
  border-top: 1px solid #ccc;
}
.msg-list img {
  display: block;
  font-size: 12px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: content-box;
}
.msg-list .name {
  display: block;
  font-size: 12px;
  width: 60px;
  padding-right: 5px;
  padding-left: 5px;
}
.msg-list .msg-heading {
  display: block;
  font-size: 12px;
  -webkit-flex: 1;
  flex: 1;
  padding-right: 5px;
  padding-left: 5px;
}
.msg-list time {
  display: block;
  font-size: 12px;
  width: 80px;
  padding-right: 5px;
  padding-left: 5px;
}

/*===本地===*/
.local-form {
  margin-top: 1rem;
}
.local-form > div {
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  background-color: #fff !important;
  font-size: 14px;
  color: #333;
}
.local-form > div.local-search .mui-placeholder {
  height: inherit;
  line-height: inherit;
  font-size: inherit;
}
.local-form > div.local-search .mui-icon-clear {
  top: 10px;
}
.local-form > div.local-search.mui-active::before {
  transform: translateY(-50%);
  margin-top: 0;
}
.local-form > div label {
  padding-right: 1em;
  padding-left: 1em;
  /*&.required {
      position: relative;
      &::before {
          position: absolute;
          left: 0.4em;
          content: "*";
          color: #f00;
          font-size: 1em;
      }
  }*/
}
.local-form > div input {
  -webkit-flex: 1;
  flex: 1;
  background-color: transparent;
  padding: 0 1em;
  margin-bottom: 0;
  border: none;
}
.local-form > div input[type="search"] {
  height: inherit;
  font-size: inherit;
  padding-right: 30px;
}
.local-form > div select {
  -webkit-flex: 1;
  flex: 1;
  padding: 0 1em;
  font-size: 14px;
  color: #ccc;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: menulist;
  /*&:focus {
      color: $text-color;
      border-color: $text-color;
  }*/
}
.local-form > div select option {
  font-size: 12px;
  color: #333;
}

.local-intro {
  margin-top: 1rem;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 14px;
}
.local-intro p {
  color: #333;
  line-height: 1.5;
}
.local-intro p:not(:last-of-type) {
  margin-bottom: .5em;
}
.local-intro p span {
  color: #999;
}

.local-list {
  margin-top: 1rem;
}
.local-list li a {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #dedede;
}
.local-list li:first-of-type a {
  border-top: 1px solid #ccc;
}
.local-list img {
  display: block;
  font-size: 12px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: content-box;
}
.local-list .name {
  display: block;
  font-size: 12px;
  width: 60px;
  padding-right: 5px;
  padding-left: 5px;
}
.local-list .local-heading {
  display: block;
  font-size: 12px;
  -webkit-flex: 1;
  flex: 1;
  padding-right: 5px;
  padding-left: 5px;
}
.local-list time {
  display: block;
  font-size: 12px;
  width: 80px;
  padding-right: 5px;
  padding-left: 5px;
}
.local-list i {
  display: block;
  font-size: 18px;
  color: #333;
  text-align: center;
}

/*# sourceMappingURL=txhy.css.map */
